# Visual Studio generated .clang-format file

# The style options in this file are a best effort attempt to replicate the
# current IDE formatting configuration from Tools > Options. The following
# style options, however, should be verified:
# AfterClass, AfterEnum, AfterFunction, AfterNamespace, AfterStruct, 
# AfterUnion

AccessModifierOffset: -4
AlignAfterOpenBracket: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterClass: false    # TODO: verify
  AfterControlStatement: false
  AfterEnum: false    # TODO: verify
  AfterFunction: false    # TODO: verify
  AfterNamespace: false    # TODO: verify
  AfterStruct: false    # TODO: verify
  AfterUnion: false    # TODO: verify
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
ColumnLimit: 96
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: false
